/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.cursor1{
  cursor: pointer
}
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  font-family: "Inter", sans-serif;
}

.bg-grey-light {
  background-color: rgb(214, 212, 212);
}

/* custome brand colors */
.purple {
  color: purple;
}
.black {
  color: rgb(0, 0, 0);
}
.gold {
  color: gold;
}

/* home page */
/* hero background */

.hero-bg {
  background-image: url(./Assets/beth-tate-188125.jpg);
  background-size: cover;
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-bg-whatwedo {
  background-image: url(./Assets/beth-tate-188125.jpg);
  background-size: cover;
  width: 100%;
  height: 20em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* place two styles */
.box-1 {
  background-color: rgba(226, 222, 222, 0.164);
  padding: 3em;
  height: 30em;
  border-radius: 14px;
  /* box-shadow: 1px 2px 9px rgb(136 124 124 / 41%) */
}
.box-1:hover {
  background-color: rgba(255, 217, 0, 0.137);
}

/* past events */

/* team section */
/* team card */
.team-card {
  width: 95%;
  height: 23em;
  background-color: rgba(240, 238, 238, 0.613);
  /* display: flex; */
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  border-bottom: 2px solid purple;
  border-top: 2px solid purple;
}
.bg-lighter {
  background-color: #cbc8c829 !important;
}
/* #team-section {
} */
.team-pic {
  border-radius: 50%;
  border: 2px solid gold;
}
.team-place-parent {
  border-left: 2px solid gold;
  /* display: fl; */
}
.line {
  width: 20%;
}

@media only screen and (max-width: 600px) {
  small {
    font-size: 24px;
  }
  .box-1 {
    background-color: rgba(0, 0, 0, 0.137);
    padding: 3em;
    height: 34em;
  }
}


/* sticly socials side bar styles below here */
.content-div {
  margin-right: 70px;
}

/**** Social Boxes ****/

.socialbox a {
  position: fixed;
  right: 1px;
  -webkit-transition: .4 s;
  -moz-transition: .4 s;
  -ms-transition: .4 s;
  -o-transition: .4 s;
  transition: .4 s;
  padding: 15px;
  width: 38px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-top: 20%;
  z-index: 999;

}

.socialbox a:hover{
  width: 60px;
  border-radius: 4px;
}

.socialbox a:hover {
  right: 0;
}

#box-one {
  top: 20px;
  background: #3b5998;

}

#box-two {
  top: 80px;
  background: #1da1f2;

}

#box-three {
  top: 140px;
  background: #e80c26;

}

#box-four {
  top: 200px;
  background: #088ecc;

}


/* media query */

@media only screen and (max-width: 600px)  {
  .socialbox{
      display: none;
  }
}
